* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
  width: 100%;
}

html {
  background-color: #232222;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;

  width: 100%;

  justify-content: center;
  justify-items: center;

  gap: 2rem;
  padding-block: 5rem;
  padding-inline: 20rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 1rem;
  padding: 2rem;
  border: 2px solid #fff;
  box-shadow: 0px 2px 4px 2px #fff;
  border-radius: 10px;
}

.form input {
  padding-block: 1rem;
  padding-inline: 0.75rem;
  font-size: 1.2rem;
  border-radius: 10px;
  background-color: #393838;
  color: #fff;
  outline: none;
}

.form button {
  padding-block: 0.75rem;
  padding-inline: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 10px;
  transition: all ease 0.3s;
  cursor: pointer;
}

.form button:active {
  scale: 0.9;
}

.notes {
  display: flex;

  justify-content: center;

  flex-wrap: wrap;
  gap: 2rem;
  padding: 3rem;
  width: 100%;
}

.note {
  background-color: #6a6767;
  width: 23vw;

  padding-block: 1.5rem;
  padding-inline: 1rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h1 {
  font-size: 1.5rem;
  text-align: center;
}
p {
  font-size: 1rem;
  text-align: center;
}

.btns {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.btns button {
  padding-inline: 1.2rem;
  padding-block: 0.4rem;
  border-radius: 10px;
  border: none;
  transition: all ease 0.2s;
  cursor: pointer;
}

.btns button:active {
  scale: 0.9;
}

.delete {
  background-color: red;
  color: #fff;
  font-size: 0.9rem;
}

.edit {
  background-color: rgb(4, 171, 4);
  color: #fff;
  font-size: 0.9rem;
}

@media (max-width: 746px) {
  .container {
    width: 100vw;
    gap: 1rem;
    padding: 1rem;
    margin: 0;
  }

  .notes {
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 1rem;
    padding: 2rem;
    padding-inline: -1rem;

    overflow-x: auto;
  }

  .note {
    width: 100%;

    border-radius: 10px;
  }
}
